@charset "UTF-8";
/* CSS Document */

.header-left {
	float: left;
}

.header-right {
	float: right
}

.header-left, .header-right {
	list-style-type: none
}

td {
	border-left: none;
	border-right: none;
	vertical-align:middle;
}

.float-right {
	float: right
}

table {
	width: 100%;
	padding: 0px 10px;
}
span {
	line-height: 26px;
}
