@charset "UTF-8";
/* CSS Document */

.header-left {
	float: left;
}

.header-right {
	float: right
}

.header-left, .header-right {
	list-style-type: none
}

td {
	border-left: none;
	border-right: none;
}

.float-right {
	float: right
}

table {
	border-left: none;
	border-right: none;
}
span {
	line-height: 26px;
}
