<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        
        <table width="100%">
          <tbody>
            <tr style="font-size: 24px">
              <th style="text-align: left;" scope="col"><a href="https://yinyongxian.github.io" style="text-decoration: none">人生得意须尽欢</a></th>
              <th width="50" scope="col"><a href="../_posts/2017-07-29-pay.html" style="text-decoration: none">付费</a></th>
              <th width="50" scope="col"><a href="../_posts/2017-08-05-about.html" style="text-decoration: none">关于</a></th>
              <th width="50" scope="col"><a href="../_posts/2017-08-05-contact.html" style="text-decoration: none">联系</a></th>
            </tr>
          </tbody>
        </table>
    <br/>
    {{ content }}
    </body>
</html>
