<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta content="尹永贤" name="keywords"  />
        <meta content="清流泉" name="description"  />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="/favicon.ico" />
		<link rel="bookmark" href="/favicon.ico" type="image/x-icon"　/>
		<link rel="apple-touch-icon" href="/Media/images/icons/YYXArticle.png">
		<link href="../Media/style/main.css" rel="stylesheet" type="text/css">
		<link href="/Media/style/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
		<ul>
			<li class="header-left"><a href="https://yinyongxian.github.io">清流泉</a></li>
			<li class="header-right"><a href="{{ site.baseurl }}/about/2017-08-02-contact.html">联系</a></li>
			<li class="header-right"><a href="{{ site.baseurl }}/about/2017-08-05-about.html">关于</a></li>
			<li class="header-right"><a href="{{ site.baseurl }}/about/2017-07-29-pay.html">付费</a></li>
		</ul>
    <br/>
    {{ content }}
    <br/>
</body>
</html>
