<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="尹永贤，清流泉">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="bookmark" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/Media/images/icons/YYXArticle.png">
	<link href="/Media/style/main.css" rel="stylesheet" type="text/css">
	<link href="/Media/style/index.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>

<body>
	<div id="header-wrapper" class="header-wrapper">
		<div id="header">
			<ul style="padding-left: 0px !important;">
				<li><a href="https://yinyongxian.github.io">清流泉</a></li>
				<li><a href="{{ site.baseurl }}/menu/search.html">Search</a></li>
				<li><a href="https://github.com/yinyongxian" title="GitHub">GitHub</a></li>
				<li><a href="{{ site.baseurl }}/menu/2017-07-29-pay.html">打赏</a></li>
				<li><a href="{{ site.baseurl }}/menu/2017-08-02-contact.html">联系</a></li>
				<li><a href="{{ site.baseurl }}/menu/2017-08-05-about.html">关于</a></li>
			</ul>
		</div>
	</div>
	<br>

	<div class="body-content"> {{ content }} </div>

	<div style="text-align: center">
		<a href="{{ site.baseurl }}/menu/2017-07-29-pay.html">
			<div class="btn-pay">打赏</div>
		</a>
	</div>
</body>

</html>